@model Which.Models.partner

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>partner</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PartnerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartnerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TEName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BEName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BEName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GTMName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GTMName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PartnerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
